.main {
  background-color: rgba(0, 255, 200, 0.425);
  border: .25rem solid rgba(0, 228, 179, 0.452);

  margin: 5rem;
  padding: 2rem;
  border-radius: 15px;

  height: fit-content;

  text-align: center;
  font-size: 1.2rem;
}

.title {
  margin-bottom: 2rem;

  color: rgb(179, 255, 242);
  text-shadow: 0 0 .25rem black;
}

.lista {
  margin-top: 2rem;
  padding: 1rem;
  border-radius: 15px;
  border: .25rem solid rgba(0, 228, 179, 0.295);

  background-color: rgba(127, 255, 212, 0.534);

  display: flex;
  flex-direction: column;

  gap: 1rem;
}