.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  align-items: center;
}

.input {
  font-size: large;
  
  width: 25rem;

  padding: .25rem;
  margin: .25rem;
  
  color: rgb(0, 128, 21);
  border: .25rem solid rgba(83, 255, 92, 0.274);
  border-radius: 5px;
  background-color: rgba(229, 255, 235, 0.555);

  transition: padding .2s, margin .2s;
}

.input:focus {
  padding: .50rem;
  margin: 0rem;
}

.button {
  height: fit-content;
  width: fit-content;

  padding: .25rem;

  font-size: large;

  color: rgb(0, 255, 157);
  text-shadow: 0 0 .2rem rgb(0, 70, 60);
  border: .25rem solid rgba(83, 255, 92, 0.274);
  border-radius: 5px;

  background-color: rgba(20, 253, 71, 0.329);
}

.button:hover {
  
  background-color: rgba(20, 253, 70, 0.521);
}